.form {
    margin: 8px;

    .space {
        width: 100%;
    }

    .submit-item {
        margin-top: 24px;
    }

    :global {
        .ant-form-item {
            width: 265px;
            margin-bottom: 0;

            .ant-input-number-group-wrapper {
                width: 100%;
            }
        }
    }

    .form-item-default-width {
        width: 100%;
    }

    .submit-item {
        width: 100%;
        margin: 16px auto;
    }
}