* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: auto;
}

html {
  font-family: sans-serif;
  scrollbar-gutter: stable;
}

body {
  /* min-width: 1200px; */
  /* max-width: 1920px; */
  margin: auto;
  margin-right: calc(100vw - 100%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}